.desktop {
    background-color: #f0e7f3;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .desktop .div {
    background-color: #f0e7f3;
    overflow: hidden;
    width: 1366px;
    height: 630px;
    position: relative;
  }
  
  .desktop .overlap {
    position: absolute;
    width: 300px;
    height: 60px;
    top: 0px;
    left: 15px;
  }
  
  .desktop .frame {
    display: inline-flex;
    align-items: flex-start;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .desktop .frame-2 {
    display: flex;
    width: 100px;
    height: 62px;
    position: relative;
  }
  
  .desktop .ellipse {
    position: relative;
    width: 24.47px;
    height: 57.49px;
    background-color: var(--variable-collection-blue);
    border-radius: 12.23px/28.74px;
    transform: rotate(-30deg);
  }
  
  .desktop .ellipse-2 {
    position: relative;
    width: 24.47px;
    height: 57.49px;
    margin-left:-3px;
    background-color: #0e0e0e;
    border-radius: 12.24px/28.74px;
    transform: rotate(30deg);
  }
  
  .desktop .frame-3 {
    display: flex;
    width: 302px;
    height: 40px;
    align-items: center;
    position: absolute;
    top: 11px;
    left: 60px;
  }
  
  .desktop .text-wrapper {
    position: relative;
    width: 46px;
    height: 40px;
    margin-top: -1px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .text-wrapper-2 {
    position: relative;
    width: 197px;
    height: 31px;
    margin-left: -15px;
    font-family: "Outfit-Regular", Helvetica;
    font-weight: 400;
    color: #346dfd;
    font-size: 30px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .sign-up-wrapper {
    display: flex;
    width: 120px;
    height: 40px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 11px 0px;
    position: absolute;
    top: 20px;
    left: 1150px;
    background-color: #a5bbf4;
    border-radius: 90px;
    overflow: hidden;
  }
  
  .desktop .sign-up {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Outfit-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .div-wrapper {
    display: flex;
    width: 120px;
    height: 40px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 11px 0px;
    position: absolute;
    top: 20px;
    left: 1010px;
    background-color: #a5bbf4;
    border-radius: 90px;
    overflow: hidden;
  }
  
  .desktop .text-wrapper-3 {
    position: relative;
    width: fit-content;
    font-family: "Outfit-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .overlap-group {
    position: absolute;
    width: 354px;
    height: 200px;
    top: 156px;
    left: 13px;
  }
  
  .desktop .frame-4 {
    display: flex;
    flex-direction: column;
    width: 230px;
    height: 150px;
    align-items: flex-start;
    gap: 10px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--variable-collection-violet);
    overflow: hidden;
  }
  
  .desktop .the-right-choice-for {
    position: relative;
    width: 200px;
    height: 150px;
    margin-top: -1px;
    font-family: "Outfit-Regular", Helvetica;
    font-weight: 100;
    color: #000000;
    font-size: 30px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .ellipse-3 {
    position: absolute;
    width: 30px;
    height: 27px;
    top: 26px;
    left: 210px;
    background-color: #ffffff;
    border-radius: 15px/13.5px;
  }
  
  .desktop .ellipse-4 {
    position: absolute;
    width: 18px;
    height: 15px;
    top: 32px;
    left: 216px;
    background-color: #000000c7;
    border-radius: 9px/7.5px;
  }
  
  .desktop .ellipse-5 {
    position: absolute;
    width: 30px;
    height: 27px;
    top: 100px;
    left: 210px;
    background-color: #ffffff;
    border-radius: 15px/13.5px;
  }
  
  .desktop .ellipse-6 {
    position: absolute;
    width: 18px;
    height: 15px;
    top: 106px;
    left: 216px;
    background-color: #000000c7;
    border-radius: 9px/7.5px;
  }
  
  .desktop .line {
    position: absolute;
    width: 275px;
    height: 1px;
    top: 273px;
    left: 7px;
    object-fit: cover;
  }
  
  .desktop .overlap-2 {
    position: absolute;
    width: 230px;
    height: 88px;
    top: 325px;
    left: 10px;
  }
  
  .desktop .rectangle {
    width: 250px;
    height: 81px;
    left: 0;
    background-color: var(--variable-collection-violet);
    border-radius: 25px;
    border: 1px solid;
    border-color: #000000;
    position: absolute;
    top: 0;
  }
  
  .desktop .ellipse-7 {
    position: absolute;
    width: 46px;
    height: 46px;
    top: 16px;
    left: 92px;
    background-color: #888888;
    border-radius: 28px/24.5px;
  }
  .desktop .memojis1{
    position: absolute;
    width: 46px;
    height: 46px;
    top: 16px;
    left: 12px;
    border-radius: 28px/24.5px;
  }
  .desktop .memojis2{
    position: absolute;
    width: 46px;
    height: 46px;
    top: 16px;
    left: 52px;
    border-radius: 28px/24.5px;
  }

  
  .desktop .text-wrapper-4 {
    position: absolute;
    width: 127px;
    top: 15px;
    left: 150px;
    font-family: "Outfit-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .text-wrapper-5 {
    position: absolute;
    width: 30px;
    top: 31px;
    left: 106px;
    font-family: "Outfit-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 10px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .overlap-3 {
    position: absolute;
    width: 817px;
    height: 357px;
    top: 135px;
    left: 529px;
  }
  
  .desktop .rectangle-2 {
    width: 750px;
    height: 300px;
    left: 14px;
    background-color: #b7d5ec;
    border-radius: 64px;
    position: absolute;
    top: 0;
  }
  
  .desktop .ellipse-8 {
    position: absolute;
    width: 30px;
    height: 27px;
    top: 128px;
    left: 0;
    background-color: #ffffff;
    border-radius: 15px/13.5px;
  }
  
  .desktop .ellipse-9 {
    position: absolute;
    width: 30px;
    height: 27px;
    top: 199px;
    left: 0;
    background-color: #ffffff;
    border-radius: 15px/13.5px;
  }
  
  .desktop .img {
    width: 400px;
    height: 300px;
    left: 365px;
    object-fit: cover;
    position: absolute;
    border-radius: 64px;
    top: 0;
  }
  
  .desktop .meet-our-experts {
    position: absolute;
    width: 365px;
    top: 16px;
    left: 45px;
    text-shadow: 0px 4px 4px #00000040;
    font-family: "Outfit-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 38px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .element-mentors {
    position: absolute;
    width: 370px;
    top: 130px;
    left: 55px;
    text-shadow: 0px 4px 4px #00000040;
    font-family: "Outfit-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    letter-spacing: 0;
    line-height: normal;
  }

  .desktop .span {
    font-family: "Outfit-Regular", Helvetica;
    color: #ffffff;
    font-size: 50px;
    letter-spacing: 0;
  }
  
  .desktop .text-wrapper-6 {
    font-size: 20px;
  }
  
  .desktop .text-wrapper-7 {
    font-size: 35px;
  }
  
  .desktop .text-wrapper-8 {
    position: absolute;
    width: 217px;
    top: 260px;
    left: 190px;
    text-shadow: 0px 4px 4px #00000040;
    font-family: "Outfit-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 21px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .frame-5 {
    display: inline-flex;
    align-items: flex-start;
    gap: 10px;
    position: absolute;
    top: 260px;
    left: 290px;
    overflow: hidden;
  }
  
  .desktop .ellipse-10 {
    position: relative;
    width: 25px;
    height: 25px;
    background-color: #ffffff;
    border-radius: 20px;
  }
  .fleche{
    font-size: 17px;
    color: #888888;
    position: relative;
    left: 295px;
    top: 263px;
  }
  
  .desktop .ellipse-11 {
    position: absolute;
    width: 18px;
    height: 15px;
    top: 134px;
    left: 6px;
    background-color: #000000c7;
    border-radius: 9px/7.5px;
  }
  
  .desktop .ellipse-12 {
    position: absolute;
    width: 18px;
    height: 15px;
    top: 204px;
    left: 6px;
    background-color: #000000c7;
    border-radius: 9px/7.5px;
  }
  
  
  .desktop .ellipse-13 {
    position: absolute;
    width: 319px;
    height: 168px;
    top: 550px;
    left: -20px;
    background-color: var(--variable-collection-light-blue);
    border-radius: 159.5px/84px;
    border: 1px solid;
    border-color: transparent;
  }
  
  

  .desktop .ellipse-16 {
    position: absolute;
    width: 900px;
    height: 262px;
    top: 530px;
    left: 156px;
    background-color: var(--variable-collection-light-blue);
    border-radius: 319.5px/131px;
  }
  
  .desktop .ellipse-17 {
    position: absolute;
    width: 386px;
    height: 112px;
    top: 577px;
    left: 1000px;
    background-color: var(--variable-collection-light-blue);
    border-radius: 193px/56px;
  }
  #mon-svg {
    position: absolute;
    top: 191px; 
    left: 244px; 
  }
  #mon-svg2 {
    position: absolute;
    top: 263px; 
    left: 244px; 
  }
  #line{
    position: absolute;
    top: 550px; 
    left: -50px; 
  }
#enhance{
    font-size: 35px;
    width: 349px;
    position: absolute;
    top: 574px; 
    left: 1200px;
}
  .desktop .enhance-productivity {
    position: absolute;
    width: 261px;
    top: 540px;
    left: 990px;
    font-family: "Petrona-Regular", Helvetica;
    font-weight: 400;
    color: var(--variable-collection-black);
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .text-wrapper-9 {
    color: #141414;
  }
  
  .desktop .text-wrapper-10 {
    color: #4a4c4f;
  }
  #book{
    font-size: 35px;
    width: 349px;
    position: absolute;
    top: 555px; 
    left: 620px;
  }
  .desktop .personalized-lessons {
    position: absolute;
    width: 313px;
    top: 530px;
    left: 620px;
    font-family: "Petrona-Regular", Helvetica;
    font-weight: 400;
    color: var(--variable-collection-black);
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .text-wrapper-11 {
    color: #5c606a;
  }
  #flash{
    font-size: 35px;
    width: 349px;
    position: absolute;
    top: 535px; 
    left: 160px; 
  }
  .desktop .time-saving-speed {
    position: absolute;
    width: 349px;
    top: 550px;
    left:0px;
    font-family: "Petrona-Regular", Helvetica;
    font-weight: 400;
    color: var(--variable-collection-black);
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
